body {
    font:15px arial,sans-serif;
}
/* h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    background-color: #999;
    color: #ccc;
} */
Table-Wrapper{
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: left;
}
.table {
    float: right;
   margin: 10 auto;
   display: inline-table;
   padding: 100px;
   border-collapse: collapse;

   /* width: 100%; */
   border: 1px solid black;
   position: absolute;
}

.Table-Title {
    /* width: 100%; */

    padding:5px;
    font-size: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgb(76, 91, 175);
    color: white;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: white}

th {
    background-color: #4CAF50;
    color: white;
}

h1{
  font-size: 40px
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    background-color: rgb(76, 91, 175);
    font-family: "Arial", Times, serif;
    font-size: 20px;
    color: white;
}
.Home-Wrapper{
    padding: 5px;
    width: 1000px;
    /* margin: auto */
    margin: 0;
    width: 100%;
}
.column {
    float: right;
    margin: 10;
    position: relative;
    width: 200px;
}

.row {
    float: left;
    margin: 0;
}
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */


/* table {
    margin: 0 auto;
    display: inline-table;
    padding: 10px;
    border-collapse: collapse;
    
    width: 47%;
    border: 1px solid black;
}

table.allPlayers {
    margin: 0 auto;
    padding: 10px;
    border-collapse: collapse;
    
    width: 100%;
    border: 1px solid black;
} */


.AllGames-Wrapper {
    position: absolute;
    padding:5px;
    margin: 0;
    /* width: 80%;
    height: 100%; */
}

.GameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 200px;  
} 