body {
    font:15px arial,sans-serif;
}
/* h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    background-color: #999;
    color: #ccc;
} */
table {
   margin: 0 auto;
   display: inline-table;
   padding: 10px;
   margin: 10px;
   border-collapse: collapse;

   width: 47%;
   border: 1px solid black;
}

.Table-Title {
    padding:5px;
    font-size: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgb(76, 91, 175);
    color: white;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: white}

th {
    background-color: #4CAF50;
    color: white;
}

h1{
  font-size: 40px
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    background-color: rgb(76, 91, 175);
    font-family: "Arial", Times, serif;
    font-size: 20px;
    color: white;
}
.Home-Wrapper{
    padding: 5px;
    width: 1000px;
    /* margin: auto */
    margin: 0;
    width: 100%;
}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
