<html>
<head>
</head>

<body>
<link rel="stylesheet" href="/gamePage.css">

<div class="AllGames-Wrapper">
{{#each games}}
        <div class="GameBox">
  <button class="btn" onclick="window.location.href='/Games/{{gameID}}'"> <img src={{ gameImage }}></img> </button>
</div>
    {{/each}}
</div>



</body>

</html>







