<link rel="stylesheet" href="/css/home.css">
<div class="header">
  <h1>Welcome to GameBook</h1>
  <p>Tired of playing alone? Well you're in luck! This site is designed to help connect players together. Just check on the players link to search for a specific gamer. Or click on the games link to find players with similar interests</p>
</div>
<div class="row">
  <div class="column">
    <table>
        <thead>
            <th>player</th>
            <th>game</th>
            <th>score</th>
        </thead>
        <tbody>
            {{#results}}
            <tr>
                <td>{{ userName }}</td>
                <td>{{ gameName }}</td>
                <td>{{ score }}</td>
            </tr>
            {{/results}}
        </tbody>
    </table>
  </div>
</div>
