<link rel="stylesheet" href="/css/home.css">
<div class="header">
  <h1>Info:</h1>
  <p>Lorem ipsum delor</p>
</div>
<div class="row">
  <div class="column">
    <table>
        <thead>
            <th>player</th>
            <th>game</th>
            <th>score</th>
        </thead>
        <tbody>
            {{#results}}
            <tr>
                <td>{{ userName }}</td>
                <td>{{ gameName }}</td>
                <td>{{ score }}</td>
            </tr>
            {{/results}}
        </tbody>
    </table>
  </div>
</div>
